<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of Products</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="my-4">List of Products</h1>
    <hr />
    <a th:href="@{/products/newOrEdit}" class="btn btn-primary mb-3">New Product</a>
    <hr />
    <div th:if="${message != null}" class="alert alert-info">
        <h3 th:text="${message}"></h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${pages.content}">
                <td th:text="${item?.category?.name}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.discount}"></td>
                <td>
                    <span th:switch="${item.status.toString()}">
                        <span th:case="'Available'" class="text-success">Available</span>
                        <span th:case="'OutOfOrder'" class="text-warning">Out of Order</span>
                        <span th:case="'Unavailable'" class="text-danger">Unavailable</span>
                    </span>
                </td>
                <td>
                    <a th:href="@{'/products/newOrEdit/' + ${item.id}}" class="btn btn-sm btn-info">Edit</a>
                    <a th:href="@{'/products/delete/' + ${item.id}}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div>
        Pages:
        <span th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}">
            <a th:href="@{/products(page=${i},size=${pages.size},sort=${sort})}" class="btn btn-outline-secondary mr-1" th:text="${i + 1}"></a>
        </span>
    </div>
    <hr />
    <form th:action="@{/products}" class="form-inline">
        <div class="form-group mr-2">
            <select name="sort" class="form-control">
                <option value="id">Product ID</option>
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="quantity">Quantity</option>
                <option value="discount">Discount</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Sort</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>